# local
#DATABASE_URL=postgresql://postgres:postgres@localhost:5432/event_pool

# docker compose
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/event_pool
DATABASE__URL=postgresql://postgres:postgres@postgres:5432/event_pool
REDIS__ADDR=redis:6379
ASYNQ__REDIS_ADDR=redis:6379
CONFIG_FILE=config.yaml
GRPC_ADDRESS=:10000
LIBP2P_ADDRESS=:10006
JSONRPC_ADDRESS=:10002
BOOTNODES=["/ip4/127.0.2.1/tcp/10206/p2p/16Uiu2HAmHSuBQtm6M6ZCM19ePsTk4kk6hbYyif9esh3g2JhChA3R"]
MONITOR_HOST=api
JSONRPC_HOST=node


# gateway
SECRET_KEY=gateway_secret_key
